#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

ZMK_COMBO(left_paren,   &kp LEFT_PARENTHESIS,   RT1 RT2,  DEF , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(right_paren,  &kp RIGHT_PARENTHESIS,  RT2 RT3,  DEF , COMBO_TERM_FAST, COMBO_IDLE_FAST)

