#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

ZMK_COMBO(left_paren,   &kp LEFT_PARENTHESIS,   RT1 RT2,  DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(right_paren,  &kp RIGHT_PARENTHESIS,  RT2 RT3,  DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)


ZMK_COMBO(left_brace,   &kp LEFT_BRACE,   RM1 RM2,  DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(right_brace,  &kp RIGHT_BRACE,  RM2 RM3,  DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(caps_word,    &caps_word,             LH1 RH1,  DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(bootloader,   &bootloader,            LB4 RB4,  DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

